.pokemon-card,
.active-card {
  opacity: 0.95;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: bisque;
  margin: 15px;
  border: 0.5vmax solid black;
  width: 30vmin;
  border-radius: 15px;
  height: 40vmin;
  background-color: #803030;
}

.active-card {
  background-color: #f0971f;
  color: #df1d43;
  border: 0.5vmax solid #df1d43;
}

.pokemon-header-wrapper {
  height: 5vmax;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}
.pokemon-common-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;

  font-size: 2vmax;
}
.pokemon-name {
  font-size: 3vmax;
  text-transform: capitalize;
}
.pokemon-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 12vmax;
}
