.pokemon-card {
  opacity: 0.95;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: bisque;
  margin: 1.5vmin;
  border: 0.25vmax solid black;
  width: 30vmin;
  border-radius: 1.5vmin;
  height: 40vmin;
  background-color: #803030;
}

.active {
  background-color: #f0971f;
  color: #df1d43;
  border: 0.25vmax solid #df1d43;
}

.pokemon-header-wrapper {
  height: 2.5vmax;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pokemon-common-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmin;
  flex-direction: column;

  font-size: 1vmax;
}
.pokemon-name {
  font-size: 5vmin;
  text-transform: capitalize;
}
.pokemon-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 10vmin;
}
