.pokemon-card,
.activeCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: bisque;
  margin-bottom: 15px;
  border: 5px solid black;
  width: 20em;
  border-radius: 15px;
  height: 400px;
  background-color: #803030;
}

.activeCard {
  background-color: #f0971f;
  color: #df1d43;
  border: 5px solid #df1d43;
}

.pokemon-header-wrapper {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}
.pokemon-common-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
.pokemon-name {
  font-size: 1.5em;
  text-transform: capitalize;
}
.pokemon-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 120px;
}
