.obstacle-wrapper {
  height: 200px;
  width: 80px;
  background-color: black;
  position: absolute;

  left: 100%;
  /* top: 10vmin; */
  bottom: 10vmin;
  background-image: url('./../../../assets/brick.jpg');
}
