.obstacle-wrapper {
  height: 10vmin;
  width: 5vmin;
  position: absolute;

  box-shadow: 3vmin 1vmin 2vmin rgb(0 0 0 / 0.5);

  left: 100%;
  bottom: 10.4vmin;
  background-image: url('./../../../assets/brick.jpg');
}
