.main-game-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
}
.game-logo {
  margin-top: 5vmin;
  color: rgb(1, 11, 68);
  text-transform: uppercase;
  font-size: 7vmin;
  display: flex;
  justify-content: center;
}
.game-score {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 8vmin;
  position: absolute;
  width: 25%;
  height: 45vmin;
  top: 18vmin;
  color: rgb(1, 11, 68);
}
.game-block-container {
  display: flex;
  justify-content: center;
  align-self: center;
  box-shadow: 0 2vmin 8vmin rgb(1, 11, 68);
  border-radius: 0.9vmin;
  width: 50%;
  height: 45vmin;
  margin-top: 5vmin;
  overflow: hidden;
}
.game-block {
  width: 100%;
  height: 100%;
  background: url('./../../assets/game-background.png') repeat 0 / 100% auto;
  background-size: 100% 100%;
  animation-fill-mode: forwards;
  box-shadow: 100px;
  position: relative;
}
.animated {
  animation: animatedBackground 10s linear infinite;
}

.game-field {
  margin-top: 4vmin;
  width: 100%;
  height: 70%;
}

.btn-pause-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 8vmin;
  position: absolute;
  width: 25%;
  height: 45vmin;
  top: 75%;
}
.btn-pause {
  width: 20vmin;
  height: 7vmin;
  border-radius: 1.5vmin;
  font-size: 3vmin;
  text-transform: uppercase;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) all 1s;
  font-size: 5vmin;
  background-color: #ff1100;
  border: 0.5vmin solid #000000;
  color: #000000;
  font-family: pixel-font;
}
.btn-pause:hover {
  border: 0.5vmin solid #ffd000;
  color: #ffd000;
}
.features-wrapper {
  left: 20%;
  top: 87%;

  position: absolute;
  width: 35vmin;
  height: 5vmin;
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.checkboxOnOff {
  font-size: 15vmin;
  position: relative;
  width: 2.5vmin;
  height: 2.5vmin;
}
.checkbox-wrapper {
  margin-top: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  word-spacing: 1vmin;
  width: 100%;
  font-size: 3vmin;
  padding: 1vmin;
  color: #f3d449;
}
.instructions-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 37%;
  left: 32%;
  top: 120%;
  color: #f3d449;
  position: absolute;
  word-spacing: 2vmin;
  text-align: center;
  font-size: 3vmin;
}
.sub-instruction {
  color: #000000;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0;
  }
}
