.player-wrapper {
  margin-left: 2vmin;
  width: 100%;
  height: 100%;
  position: relative;

  padding: 5px 0;
}
.pokemon {
  width: 8vmin;
  position: absolute;
  top: 24.5vmin;
  left: 1.5vmin;
}
.skate {
  width: 11vmin;
  position: absolute;
  top: 30.5vmin;
}
