.player-wrapper {
  margin-left: 2vmin;
}
.pokemon {
  width: 8vmin;
  position: absolute;
  /* top: 460px;
  left: 550px; */
  top: 44vmin;
  left: 53vmin;
}
.skate {
  width: 11vmin;
  position: absolute;
  top: 78%;
  left: 28%;
}
