.player-wrapper {
  margin-left: 2vmin;
  position: relative;
  display: flex;
  flex-direction: column;

  transform: translate(0, -90%);
}
.pokemon {
  width: 6vmin;
  position: relative;
  top: 1vmin;
}
.skate {
  width: 8vmin;
  position: relative;
  top: -0.5vmin;
}
