@font-face {
  font-family: pixel-font;
  src: url('./fonts/ARCADECLASSIC.TTF');
}

body {
  margin: none;
  background: #f05424;
  position: relative;
  z-index: 2;
  font-family: pixel-font;
}
.btn-start-wrapper {
  position: fixed;
  width: 100%;
  top: 90%;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.btn-start {
  width: 35vmin;
  height: 7vmin;
  border-radius: 1.5vmin;
  font-size: 3vmin;
  text-transform: uppercase;

  transition: cubic-bezier(0.215, 0.61, 0.355, 1) all 1s;
  font-size: 5vmin;
  background-color: #00da91e1;
  border: 0.5vmin solid #ffd000;
  color: #ffd000;
  font-family: pixel-font;
}
.btn-start:hover {
  border: 0.5vmin solid #003f2a;
  color: #003f2a;
}
