body {
  margin: none;
  background: #e1caca;
}
.pokemon-logo {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 40px;
}
.pokemon-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.observer-block {
  border: 1 px solid black;
  height: 30vh;
  background-color: black;
}
